.footer {
  display: flex;
  flex-direction: row;
  height: 200px;
  background-color: #191a19;
  align-items: center;
  color: #d8e9a8;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 20px;
  /* padding-bottom: 10px; */
}
.footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.footer .footer-networks {
  list-style: none;
  display: flex;
}

.footer .footer-networks li {
  padding-left: 20px;
}

.footer .footer-container .footer-direction li {
  list-style: none;
}
