.footer {
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: #191a19;
  align-items: center;
  color: #d8e9a8;
  justify-content: space-between;
  padding: 0 20px;
}

.footer .footer-networks {
  list-style: none;
  display: flex;
}

.footer .footer-networks li {
  padding-left: 20px;
}
