.product-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-container .card-product {
  display: flex;
  justify-content: space-around;
}

.product-container .card-product li {
  list-style: none;
}
